<footer class="footer">
  <div class="footer-body container">
    <!-- Logo -->
    <div class="row footer-logo-row">
      <div class="col-md-12">
        <%= link to: webapp_url(@conn), class: "footer-brand" do %>
          <%= if logo_footer() do %>
            <img class="footer-logo" src="<%= static_path(@conn, logo_footer()) %>" alt="<%= subnetwork_title() %>" />
          <% end %>
          <%= if logo_text() do %>
            <span class="logo-text in-footer <%= unless logo_footer(), do: "no-logo" %>"> <%= logo_text() %> </span>
          <% end %>
        <% end %>
      </div>
    </div>

    <% other_explorers = other_explorers() %>
    <% col_size = if Enum.empty?(other_explorers), do: 3, else: 2 %>

    <div class="row">
      <div class="col-xs-12 col-lg-3">
        <p class="footer-info-text"><%= gettext("Blockscout is a tool for inspecting and analyzing EVM based blockchains. Blockchain explorer for Ethereum Networks. test") %></p>
        <div class="footer-social-icons">
      </div>

      <div class="col-xs-12 col-md-4 col-lg-<%= col_size %> footer-list">

      </div>
      <% main_nets = main_nets(other_networks()) %>

      <% test_nets = test_nets(other_networks()) %>

      <%= unless Enum.empty?(test_nets) do %>
        <div class="col-xs-12 col-md-4 col-lg-<%= col_size %> footer-list">
          <h3><%= gettext("Test Networks") %></h3>
          <ul>
            <%= for %{title: title, url: url} <- test_nets do %>
              <li><a href="<%= url %>" rel="noreferrer" class="footer-link"> <%= title %> </a></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= unless Enum.empty?(other_explorers) do %>
        <div class="col-xs-12 col-md-4 col-lg-<%= col_size %> footer-list">
          <h3><%= gettext("Other Explorers") %></h3>
          <ul>
            <%= for {name, url} <- other_explorers do %>
              <li><a href="<%= url %>" rel="noreferrer" class="footer-link"> <%= name %> </a></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</footer>
